.section { position: relative; }
.section h3{ text-align: center; font: 50px "Microsoft Yahei"; color: #fff;}
.section h5{ text-align: center; font: 30px "Microsoft Yahei"; color: #fff;margin: 20px 0 0 20px;}
.section p {  font: 30px "Microsoft Yahei"; color: #fff; }
.section2 p { position: relative; left: -120%;}
.section3 p { position: relative; bottom: -120%;}
.section4 p { display: none;}
.section5 p { display: none;}

.section1 h3 {margin-bottom: 50px;}
.section1 p {text-align: center;}

.section2 .m-photo {width: 200px;height: 200px;margin: 0 auto 30px;}
.section2 img {width: 200px;height: 200px;border-radius: 100px;}
.section2 p {font-size: 20px; text-indent: 3.5rem;width: 980px;margin: 0 auto;}

.section3 .content {width: 980px;margin: 0 auto;}
.section3 p {margin: 20px auto 0;font-size: 21px;}

.section4 .card { background-color: white;color: black;margin: 0 20px 0 20px;width: 260px;display: none;float: left;}
.section4 h3 { margin-bottom: 30px; }
.section4 .card-deck { width: 1200px;margin: 0 auto;justify-content: space-between;}
.section4 .card-body{height: 260px;}
.section4 .card-footer{padding: 10px;}

.section5 p {text-align: center;font-size: 20px;margin: 10px 0 10px 0;}
.section5 h3 > span { color: #4585F5; }
.section5 .span1 { color: #E3723C; }
.section5 .span2 { color: #84C800; }
.section5 .span3 { color: #33CCFF; }
.section5 .span4 { color: #9E966E; }
.section5 .contact-way { width: 370px;height: 50px;margin: 30px auto; }
.section5 .contact-way ul { padding-left: 0; }
.section5 .contact-way li { display: block; float: left;display: block;width: 50px;height: 50px; border-radius: 100%;margin-left: 20px;  }
.section5 img { width: 30px;height: 30px;margin: 10px 0 0 10px; }

/*.section3 { background: url(http://idowebok.u.qiniudn.com/77/3.jpg) 50%;}
.section4 { background: url(http://idowebok.u.qiniudn.com/77/4.jpg) 50%;}
.section5 { background: url(http://idowebok.u.qiniudn.com/77/4.jpg) 50%;}*/

.bg1 { position: absolute;bottom: 0;z-index: -10; }

#fp-nav span {border: none!important ;}
#fp-nav { _display: none!important; font-size: 12px!important;}
#fp-nav li { width: 90px!important; height: 25px!important; margin: 15px 0 0!important; vertical-align: middle!important;}
#fp-nav li a { float: right!important; width: 21px!important; height: 21px!important; color: #8F9DA4!important; text-decoration: none!important; text-align: right; background: url(http://www.dowebok.com/demo/2014/97/images/dot.png) 5px 5px no-repeat!important;}
#fp-nav li .active { background-position: 0 bottom!important;}
#fp-navspan { display: none!important;}
#fp-nav ul li a.active span {background: none!important;}

.music-btn { width: 120px;height: 60px;background: rgba(0, 0 , 0 ,0.5);position: fixed;top: 8%;left: 5%;z-index: 10;border-radius: 10px;cursor: pointer;}
.music-btn img { margin: 5px 0 0 10px;float: left;}
.music-btn span { width: 30px;height: 30px;display: block;float: left; background-image: url(暂停.png);background-size: cover;margin: 15px 0 0 15px;}
@-webkit-keyframes rotation{ from {-webkit-transform: rotate(0deg);} to {-webkit-transform: rotate(360deg);}}
.music-btn .Rotation {-webkit-transform: rotate(360deg);animation: rotation 3s linear infinite;-moz-animation: rotation 3s linear infinite;-webkit-animation: rotation 3s linear infinite;-o-animation: rotation 3s linear infinite;}