@charset "utf-8";
/* CSS Document */

*{
	padding:0px;
	margin:0px;

}
html{
background:#ebebeb;
scrollbar-face-color: #fcfcfc; 
scrollbar-highlight-color: #ebebeb; 
scrollbar-shadow-color: #ebebeb; 
scrollbar-3dlight-color: #ebebeb; 
scrollbar-arrow-color: #004e38 ;
scrollbar-track-color: #ebebeb; 
scrollbar-darkshadow-color: #48486c; 
scrollbar-base-color: #004e38 ;

}


#changyan_floatbar_wrapper{display:none!important}
#powerby_sohu a{font-size:0!important;line-height:0!important}


body{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #4d4d4d;
}
img{
	border:none;
}

a{
	text-decoration:none;
	color: #333333;
}

.f-r {
	float: right;
}

.f-l {
	float: left;
}

ul,li {
	list-style: none;
}