html{
	/*height:100%;
	width:100%;*/
	font-family:-apple-system,
	"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei",
	"Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN",
	"Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",
	SimSun,sans-serif
}
*{
	margin:0;
	padding:0;
	border:none;
	transition:all .2s
}

* html{
	background-image:url(about:blank);
	background-attachment:fixed
}

.circle{
	line-height:100%;
	overflow:hidden;
	font-family:Tahoma,Helvetica;font-size:18px;color:#aaa
}

.circle:hover {
	color:#fff
}

.circle.hover{
	color:#fff
}

.slideup{
	opacity:0;height:0!important
}

a{
	outline:0;text-decoration:none;color:#359eff
}

a:hover{
	color:#2b72ff
}

a:focus{
	outline:0
}

input::-ms-clear,input::-ms-reveal{
	display:none;width:0;height:0
}

input:focus{
	outline:0
}

ul,li{
	list-style: none;




